* {
    box-sizing: border-box;
  }
  body {
    background-color: #b0ab97;
  }
h1 {
    margin: auto;
    text-align: center;
   background-color:#bd836f;
    font-weight: bold;
    font-size: 190%;
    border:2px solid black;
      font-family: 'Bangers', cursive;
}
h3 {
font-style:italic;
border:1px solid darkblue;
background-color:#8f776f;
width:50px;
font-size:90%;}

section {
        position: relative;
        padding: ;
        width: 100%;
}
p {
    position: relative;
    clear: right;
}
div {
    position: relative;
  
   background-color: #4b4f70;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
#dh{
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color:#8f776f;
      font-family: 'Abril Fatface', cursive;
  }
#il {
       float: right;
       color: white;
       width: 100px;
       padding: 5px;
       margin: 0px;
       border: 1px solid black;
       text-align: center;
       font-size: 125%;
       font-weight: bold;
       background-color: #B22222;
         font-family: 'Abril Fatface', cursive;
  }
  #vd {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #D2691E;
    
      font-family: 'Abril Fatface', cursive;
  }
  .element {
    padding: 5px;
    border: none;
    background-color:#9296b0;
    font-family:  'Libre Caslon Display', serif;
    color: black;
    margin: 0px;
    height: 250px;
    overflow: auto;
    font-weight:bold;
    font-size:20px;
  }
 
  
    @media (min-width: 992px){
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
      float: left;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .col-md-12 {
      float: left;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (max-width: 767px){
    .col-sd-12 {
      float: left;
      width: 100%;
    }
  }
