*{box-sizing:border-box;}
  
  section{
 padding:15px;
 margin:10px;
 border:1px solid black;
 text-align:justify;
   font-family: 'Abril Fatface', cursive;
  
   font-family: 'Libre Caslon Display', serif;
font-weight:bold;
font-size:30px;
font-style:italic;
float:left;}

h1{
  background-color:lightgreen;
  text-weight:bold;
 
  border:2px solid black;
  margin:4px auto;
  padding:5px;
  width:80%;

  font-family: 'Bangers', cursive;
  
}
h3{
  background-color:#2c3240;
  border:2px solid white;
  margin:auto;
  padding:3px;
  
  width:50%; 
  color:white;
  font-family: 'Bangers', cursive;
}



  
   #sec-1{
  background-color:#6689bd;
  
  padding:15px;
 margin:10px;
 border:1px solid black;
 text-align:justify;
}
#sec-2{
  background-color:#a48ccf;
  padding:15px;
 margin:10px;
 border:1px solid black;
 text-align:justify;
}
#sec-3{
  background-color:#b89f69;

 padding:15px;
 margin:10px;
 border:1px solid black;
 }
  h4{
  float:right;
  
  
  width:100px;
  margin:0px;
  font-size:40px;
  border:1px solid black;
  background-color:#c47f3f;
}
/*for large device*/
@media  (min-width:992px ){
  .col-lg-1 , .col-lg-2 , .col-lg-3,
  .col-lg-4 , .col-lg-5 ,.col-lg-6 , .col-lg-7,
  .col-lg-8,
  .col-lg-9, .col-lg-10, .col-lg-11, 
  .col-lg-12{
    float:left;
    
  }
.col-lg-1{
  width:8.33%;
  
   
 }
 .col-lg-2{
  width:16.66%;
   
 }
 .col-lg-3{
  width:25%;
   
 }
 
 .col-lg-4{
  width:33%;
   
 }
 .col-lg-5{
  width:41.66%;
   
 }
 .col-lg-6{
  width:50%;
   
 }
 .col-lg-7{
  width:58.33%;
   
 }
 .col-lg-8{
  width:66.66%;
   
 }
 .col-lg-9{
  width:74.99%;
   
 }
 .col-lg-10{
  width:83.33%;
   
 }
 .col-lg-11{
  width:91.666%;
   
 }
 
 .col-lg-12{
  width:100%;
   
 } }
 
 
 /*for tablets*/
 @media (min-width:768px) and(max-width:991px)
{
  .col-md-1,.col-md-2,.col-md-3,
  .col-md-4,.col-md-5,.col-md-6,.col-md-7,
  .col-md-8,.col-md-9,.col-md-10,.col-md-11,
  
.col-md-12{
  float:left;
}

.col-md-1{
  width:8.33%;}
  
 .col-md-2{
  width:16.66%;
   }
   
 .col-md-3{
  width:25%;
   
 }
 
 .col-md-4{
  width:33%;
   
 }
 .col-md-5{
  width:41.66%;
   
 }
 .col-md-6{
  width:50%;
   
 }
 .col-md-7{
  width:58.33%;
   
 }
 .col-md-8{
  width:66.66%;
   
 }
 .col-md-9{
  width:74.99%;
   
 }
 .col-md-10{
  width:83.33%;
   
 }
 .col-md-11{
  width:91.666%;
   
 }
 
 .col-md-12{
  width:100%;
   
 }
 }
 
 
 
 /*for mobile devices*/
   @media only screen and(max-width:767px){
     
     .col-sd-1,.col-sd-2,.col-sd-3,
  .col-sd-4,.col-sd-5,.col-sd-6,.col-sd-7,
  .col-sd-8,.col-sd-9,.col-sd-10,.col-sd-11,
  
.col-sd-12{
  float:left;
}

.col-sd-1{
  width:8.33%;}
  
 .col-sd-2{
  width:16.66%;
   }
   
 .col-sd-3{
  width:25%;
   
 }
 
 .col-sd-4{
  width:33%;
   
 }
 .col-sd-5{
  width:41.66%;
   
 }
 .col-sd-6{
  width:50%;
   
 }
 .col-sd-7{
  width:58.33%;
   
 }
 .col-sd-8{
  width:66.66%;
   
 }
 .col-sd-9{
  width:74.99%;
   
 }
 .col-sd-10{
  width:83.33%;
   
 }
 .col-sd-11{
  width:91.666%;
   
 }
 
 .col-sd-12{
  width:100%;
   
 }
   }
